// SCSS base
@import "../../index.scss";

.ExploreCard {
  width: 150px;
  height: 180px;
  border-radius: 25px;
  margin: 20px 10px 40px 10px;
  h5 {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
  }
}

// Backgrounds & Images
.red {
  background-color: $red;
  position: relative;

  h5 {
    width: 150px;
  }

  img {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
}

.green {
  background-color: $green;
  position: relative;

  img {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.yellow {
  background-color: $yellow;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  img {
    position: absolute;
    bottom: 20px;
  }
}

.purple {
  background-color: $purple;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  h5 {
    width: 80px;
    margin-left: -5px;
  }

  img {
    position: absolute;
    bottom: 20px;
  }
}
