// SCSS base
@import "../../index.scss";

.ExploreBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ExploreContainer {
    width: 65vw;
    h3 {
      font-weight: 500;
    }

    .cardsBox {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      div:first-child {
        width: 320px;
      }
    }
  }
}
