// SCSS base
@import "../../index.scss";

// Pages
.Home .Header .hBack {
  visibility: hidden;
}

.Playlist .Header .hBack {
  visibility: visible;
}

// Component
.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hBack {
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 450;
    font-size: 1em;
    color: $font-color-light;

    margin-top: 3em;

    img {
      width: 0.35em;
    }

    span {
      margin-left: 12px;
    }

    a {
      display: flex;
      text-decoration: none;
      color: $font-color-light;
    }
  }

  .hTitle {
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;
    font-size: 1.5em;

    h1 {
      margin-top: 0.1em;
    }

    img {
      width: 1.8em;
    }
  }

  .hSubtitle {
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: -2.5em;

    h3 {
      font-weight: 500;
    }
  }
}
