@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
$font-stack: "Roboto", sans-serif;

// Default Colors
$bg-color: #f2f2f2;
$bg-color-dark: #ebeced;
$font-color: #37352f;
$font-color-light: #575757;
$red: #ff464f;
$green: #3ed598;
$yellow: #ffc542;
$purple: #755fe2;
$orange: #ff974a;

// Responsive Breakpoints
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

body {
  margin: 0;
  font-family: $font-stack;
  color: $font-color;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
